.kids-hero__title {
    &--part {
        display: none;
        @include mq(dt, true) {
            display: block;
            @include text(24px, 500, $secondaryFont);
            line-height: 30px;
        }
    }
}

//уточнить возможно вынести в общие стили
.video-btn {
    &--adaptive {
        width: 48px;
        height: 48px;
        @include mq(tbLG, true) {
            width: 64px;
            height: 64px;
        }
        @include mq(dt, true) {
            width: 130px;
            height: 130px;
        }
    }
}
