.video-section__wrapper {
    background-color: clr(secondaryBG);
    @include mq(tb, true) {
        display: grid;
        grid-template-columns: repeat(2, minmax(184px, 1fr) auto);
        grid-template-rows: 61px min-content;
        grid-template-areas: "title . info" "video video video";
        align-items: center;
        background-color: transparent;
    }

    @include mq(tbLG, true) {
        grid-template-areas: "title info" "video video";
        grid-template-columns: 353px auto;
        grid-template-rows: 91px min-content;
        padding-bottom: 100px;
    }

    @include mq(dt, true) {
        grid-template-rows: 136px min-content;
        padding-bottom: 0;
    }
}

.video-section__title {
    grid-area: title;
    padding: 16px;
    font-size: rem(22);
    line-height: 27px;
    text-transform: uppercase;
    @include mq(tb, true) {
        padding: 16px 24px;
        font-size: rem(24);
        line-height: 29px;
    }
    @include mq(tbLG, true) {
        padding: 24px 32px;
        font-size: rem(36);
        line-height: 44px;
    }
    @include mq(dt, true) {
        padding: 40px 40px 15px;
        font-size: rem(48);
        line-height: 58px;
    }
}

.kids-hero__title {
    &--part {
        display: none;
        @include mq(dt, true) {
            display: block;
            @include text(24px, 500, $secondaryFont);
            line-height: 30px;
        }
    }
}
.video-section__info-wrapper {
    display: grid;
    grid-template-columns: auto 64px;
    grid-area: info;
    padding: 24px 12px;
    @include mq(tb, true) {
        grid-template-columns: auto 104px;
        column-gap: 24px;
        margin-right: 24px;
        padding: 0;
    }
    @include mq(tbLG, true) {
        grid-template-columns: auto 88px;
    }
    @include mq(dt, true) {
        grid-template-columns: auto 228px;
        column-gap: 0;
        align-content: flex-end;
        align-self: flex-end;
        margin-bottom: 40px;
    }
}
.video-section__info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mq(tb, true) {
        display: flex;
        justify-content: flex-end;
    }
    @include mq(dt, true) {
        justify-content: center;
    }
}

.video-section__info-item {
    &:first-child {
        @include mq(tb, true) {
            margin-right: 16px;
        }
        @include mq(dt, true) {
            margin-right: 24px;
        }
    }
}

.video-section__info-link {
    color: clr(black);
    line-height: 19px;
    @include text(14px, 400, $secondaryFont);
    @include mq(tb, true) {
        font-size: rem(12);
        line-height: 15px;
    }
    @include mq(tbLG, true) {
        font-size: rem(17);
        line-height: 20px;
    }
    @include mq(dt, true) {
        font-size: rem(24);
        line-height: 30px;
    }
}
.video-section__cards-list {
    display: flex;
    justify-content: space-between;
    justify-self: end;
}

.video-section__cards-item {
    &:first-child {
        display: none;
        @include mq(tb, true) {
            display: block;
        }
        @include mq(tbLG, true) {
            display: none;
        }
        @include mq(dt, true) {
            display: block;
        }
    }
    &:nth-child(2) {
        margin-right: 16px;
    }
    &:not(:last-child) {
        @include mq(tb, true) {
            margin-right: 16px;
        }
    }
}

.video-section__cards-img {
    @include mq(tbLG, true) {
        width: 36px;
        height: 22px;
    }
    @include mq(dt, true) {
        width: 60px;
        height: 38px;
    }
}
.kids-hero__video-wrapper {
    grid-area: video;
    height: 0;
    padding-bottom: 62.5%;
}

.video__tag-wrapper {
    position: absolute;
    bottom: 0;
    padding: 12px 12px 7px 12px;
    @include mq(tb, true) {
        padding: 16px 100px 16px 24px;
    }
    @include mq(tbLG, true) {
        padding: 24px 133px 27px 24px;
    }
    @include mq(dt, true) {
        padding: 40px;
    }
}

.video__tag {
    padding-bottom: 4px;
    @include text(18px, 400, $primaryFont);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px clr(white);
    line-height: 20px;
    @include mq(tb, true) {
        font-size: rem(36);
        line-height: 44px;
        padding-bottom: 12px;
    }
    @include mq(tbLG, true) {
        font-size: rem(48);
        line-height: 58px;
    }

    @include mq(dt, true) {
        font-size: rem(72);
        line-height: 87px;
        padding-bottom: 0;
    }
}
.video__tag-subtitle {
    @include text(17px, 600, $secondaryFont);
    color: clr(white);
    line-height: 20px;

    @include mq(tbLG, true) {
        font-size: rem(18);
        line-height: 22px;
    }

    @include mq(dt, true) {
        font-size: rem(36);
        line-height: 44px;
    }
}
