.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 16px;
}

.logo {
    @include mq(tbLG, true) {
        width: 118px;
        height: 24px;
    }
    padding-left: 12px;
}

.header__header-container {
    display: flex;
}

.header__header-container-item {
    @include mq(tbLG, true) {
        margin-right: 42px;
    }
    display: flex;
    margin-right: 19px;
    &:nth-child(3) {
        @include mq(tbLG, true) {
            margin-right: 0;
        }
        margin-right: 27px;
    }
}

.header__header-container-svg {
    @include mq(tbLG, true) {
        width: 19px;
        height: 19px;
    }
}
.header__ukr-page,
.header__rus-page {
    @include text(15px, 700, $secondaryFont);
    line-height: 18px;
    text-decoration: none;
}

.header__ukr-page {
    color: clr(pink);
    margin-right: 6px;
    &::after {
        content: "";
        margin-left: 3px;
        position: absolute;
        width: 2px;
        height: 15px;
        background-color: clr(purple);
    }
}

.header__rus-page {
    color: clr(black);
}

.header__menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.location {
    @include text(16px, 400, $secondaryFont);
    @include mq(tbLG, true) {
        display: block;
    }
    display: none;
    margin-left: 14px;
    width: 200px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background: clr(secondaryBG);
    line-height: 20px;
    color: #7a7979;
    outline: none;
    &:active {
        outline: none;
    }
}

.search {
    display: none;
    margin-left: 12px;
    width: 200px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background: clr(secondaryBG);
    &:focus {
        outline: none;
    }
    &::placeholder {
        @include text(16px, 400, $secondaryFont);
        @include mq(tbLG, true) {
            display: block;
        }
        line-height: 20px;
        color: #7a7979;
        padding-left: 16px;
    }
}

.burger-menu {
    @include mq(tbLG, true) {
        display: none;
    }
    margin-right: 12px;
}

.burger-menu__button {
    margin-top: -3px; //спросить
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

.active,
.menu--active {
    display: block;
}

.square-btn {
    @include mq(tbLG, true) {
        display: none;
    }
    width: 40px;
    height: 40px;
    background-color: clr(purple50);
}
.navigation {
    @include mq(tb, true) {
        width: 316px;
    }
    @include mq(tbLG, true) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: relative;
        z-index: 0;
        top: 0;
        left: 0;
        width: 530%;
    }
    display: none;
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 16px;
    width: 216px;
    background-color: clr(white);
    color: clr(purpleDark);
    &--active {
        display: grid;
        margin-bottom: 24px;
    }
}

.contact_link {
    @include mq(tbLG, true) {
        width: 78px;
        margin-left: 100px;
    }
}
.contact_block {
    @include mq(tb, true) {
        width: 316px;
    }
    @include mq(tbLG, true) {
        display: block;
        // position: static;
        z-index: 0;
        // left: 0;
        // top: 0;
    }
    display: none;
    width: 216px;
    background-color: clr(white);
    color: clr(purpleDark);
    &--active {
        display: block;
    }
}
.menu {
    @include mq(tb, true) {
        width: 316px;
    }
    @include mq(tbLG, true) {
        display: block;
        position: relative;
        z-index: 0;
        top: 0;
        left: 0;
        width: 530%;
    }
    display: block;
    width: 216px;
    background-color: clr(white);
    color: clr(purpleDark);
}

.menu__title {
    @include text(24px, 400, $primaryFont);
    @include mq(tbLG, true) {
        display: none;
    }
    color: clr(purple);
    line-height: 29px;
}
.menu__tabs {
    @include mq(tbLG, true) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 58px 0 31px;
    }
}
.menu__item:not(:last-child) {
    margin-bottom: 20px;
}
.menu__tab-link,
.menu__item-link {
    @include mq(tb, true) {
        @include text(16px, 500, $secondaryFont);
        line-height: 20px;
    }

    @include mq(tbLG, true) {
        padding-bottom: 24px;
    }

    @include text(15px, 500, $secondaryFont);
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}

.menu__tab-link {
    @include mq(tb, true) {
        &::after {
            @include mq(tbLG, true) {
                display: none;
            }
            content: url("../../../img/svg/menu-arrow-right.svg");
            width: 21px;
            height: 14px;
        }
    }
    &--active {
        @include mq(tbLG, true) {
            border-bottom: 1px solid clr(red);
        }
        @include text(18px, 400, $primaryFont);
        color: clr(purple);
        line-height: 22px;
    }
}

.menu__item-link {
    &:last-child {
        @include mq(tbLG, true) {
            @include text(14px, 400, $primaryFont);
            line-height: 17px;
            margin-bottom: 15px;
        }
        margin-bottom: 0;
    }

    &--active {
        color: clr(red);
    }
}

.menu__tab {
    @include mq(tbLG, true) {
        margin-bottom: 0;
    }
    margin-bottom: 20px;
}

.menu__sub-items {
    @include mq(tbLG, true) {
        display: block;
        margin: 0;
    }
    display: none;
    margin: 16px 16px 16px 0;
    &--active {
        display: block;
    }
}
.menu__sub-title-link {
    @include mq(tbLG, true) {
        content: "";
    }
    &:checked {
        color: clr(red);
    }
    &::after {
        content: url("../../../img/svg/menu_arrow_down.svg");
        width: 8px;
        height: 16px;
        margin-right: 64px;
    }
    &--active::after {
        content: url("../../../img/svg/menu_arrow_up.svg");
        width: 8px;
        height: 16px;
        margin-right: 64px;
    }
}

.menu__sub-item {
    margin-bottom: 15px;
}
.menu__sub-item-link {
    @include text(15px, 500, $secondaryFont);
    @include mq(tbLG, true) {
        @include text(14px, 400, $secondaryFont);
        line-height: 17px;
        padding-left: 0;
        display: block;
    }
    line-height: 18px;
    padding-left: 5px;
    display: block;
}

.menu__contact {
    @include mq(tbLG, true) {
        display: grid;
        padding-left: 0;
        position: absolute;
        top: 134px;
        left: 0;
        width: calc(100vw - 32px);
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
    display: none;
    // position: absolute;
    &--active {
        @include mq(tb, true) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.menu__items {
    @include mq(tbLG, true) {
        margin: 0;
    }
    display: none;
    margin: 23px 0 0 15px;
    &--active {
        @include mq(tbLG, true) {
            display: grid;
            padding-left: 0;
            position: absolute;
            top: 134px;
            left: 0;
            width: calc(100vw - 32px);
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
            row-gap: 32px;
        }
        display: block;
    }
}
.menu__item-img {
    @include mq(tbLG, true) {
        display: block;
    }
    display: none;
}

.menu__contact-item {
    @include mq(tbLG, true) {
        margin: 0 0 25px;
    }
    display: flex;
    justify-content: flex-start;
    margin-right: 16px;
    margin-bottom: 0;
    &:last-child {
        margin-right: 0;
        align-self: center;
    }
}

.menu__contact-link {
    @include mq(tbLG, true) {
        @include text(14px, 500, $secondaryFont);
        display: block;
        margin-left: 16px;
        color: clr(black);
        line-height: 17px;
        padding-left: 16px;
    }
    display: none;
}

.menu__location-block {
    @include mq(tb, true) {
        display: block;
        text-align: center;
    }
    @include mq(tbLG, true) {
        display: flex;
        justify-content: flex-start;
    }
}

.tel_desk {
    @include mq(tbLG, true) {
        display: block;
    }
    display: none;
}

.location_desk {
    @include mq(tb, true) {
        margin-bottom: 18px;
    }
    @include mq(tbLG, true) {
        margin-right: 0;
        margin-bottom: 0;
    }
    margin-right: 15px;
}
.black {
    @include mq(tbLG, true) {
        margin-left: 20px;
    }
    color: clr(black);
}
.social_networks {
    @include mq(tbLG, true) {
        display: grid;
        justify-content: start;
    }
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 32px;
}
.contact_info {
    @include mq(tb, true) {
        // align-items: center;
        // justify-content: center;
    }
    @include mq(tbLG, true) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column-reverse;
}
.menu__contact-adress {
    @include text(15px, 500, $secondaryFont);
    line-height: 19px;
}
.menu__contact-tel {
    @include text(17px, 400, $primaryFont);
    margin-bottom: 32px;
    line-height: 20px;
}
