<div class="menu__contact">
    <ul class="menu__socials-list">
        <li class="menu__socials-item">
            <a
                target="blank"
                href="https://www.facebook.com/energym.sport.kiev"
                class="menu__socials-link"
                aria-label="перейти на сторінку фейсбук"
            >
                <svg width="24" height="24" fill="none" class="facebook_desk">
                    <use href="#facebook_desk"></use>
                </svg>
                <span class="menu__socials-ref">
                    https://www.facebook.com/energym.sport.kiev</span
                >
            </a>
        </li>
        <li class="menu__socials-item">
            <a
                target="blank"
                href="https://www.instagram.com/energym_sport/"
                class="menu__socials-link"
                aria-label="перейти на сторінку інстаграм"
                ><svg width="24" height="24" fill="none" class="insta_desk">
                    <use href="#insta_desk"></use>
                </svg>
                <span class="menu__socials-ref"
                    >https://www.instagram.com/energym_sport/</span
                >
            </a>
        </li>
        <li class="menu__socials-item">
            <a
                target="blank"
                href="https://www.youtube.com/channel/UCYS1vd76QOZY7PNV4aCu5DA"
                class="menu__socials-link"
                aria-label="перейти на сторінку ютуб"
                ><svg width="24" height="18" fill="none" class="youtube_desk">
                    <use href="#youtube_desk"></use>
                </svg>
                <span class="menu__socials-ref">
                    https://www.youtube.com/channel/UCYS1vd76QOZY7PNV4aCu5DA</span
                >
            </a>
        </li>
    </ul>
    <ul class="menu__contact-list">
        <li class="menu__contact-item">
            <img
                src="./img/contacts-map.jpg"
                alt="map"
                width="159"
                height="159"
                loading="lazy"
            />
        </li>
        <li class="menu__contact-item">
            <svg width="21" height="18" fill="none" class="location_desk">
                <use href="#location_desk"></use>
            </svg>
            <address class="menu__contact-address">
                ТРЦ SilverBreeze, пр. Павла Тичини, 1В
            </address>
        </li>
        <li class="menu__contact-item">
            <svg width="32" height="32" fill="none" class="tel_desk">
                <use href="#tel_desk"></use>
            </svg>

            <a class="menu__contact-tel" href="tel:+380445931515"
                >044-593-15-15</a
            >
        </li>
    </ul>
</div>
