<ul class="menu__items menu__items--trainers">
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            Зал
            <picture>
                <source type="image/webp" srcset="./img/gym.webp" />
                <source type="image/jpeg" srcset="./img/gym.jpg" />
                <img
                    src="./img/gym.jpg"
                    alt="Зал"
                    width="132"
                    height="132"
                    class="menu__item-img"
                    loading="lazy"
                    aria-label="Тренери залу"
                />
            </picture>
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            Басейн
            <picture>
                <source type="image/webp" srcset="./img/swimmingpoll.webp" />
                <source type="image/jpeg" srcset="./img/swimmingpoll.jpg" />
                <img
                    src="./img/swimmingpoll.jpg"
                    alt="Басейн"
                    width="132"
                    height="132"
                    class="menu__item-img"
                    loading="lazy"
                    aria-label="Тренери басейну"
                />
            </picture>
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            Групові заняття
            <picture>
                <source type="image/webp" srcset="./img/groups.webp" />
                <source type="image/jpeg" srcset="./img/groups.jpg" />
                <img
                    src="./img/groups.jpg"
                    alt="Групові заняття"
                    width="132"
                    height="132"
                    class="menu__item-img"
                    aria-label="Тренери групових занять"
                />
            </picture>
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            Fight zone
            <picture>
                <source type="image/webp" srcset="./img/fight_zone.webp" />
                <source type="image/jpeg" srcset="./img/fight_zone.jpg" />
                <img
                    src="./img/fight_zone.jpg"
                    alt="Fight zone"
                    width="132"
                    height="132"
                    class="menu__item-img"
                    loading="lazy"
                    aria-label="Тренери Файт зони"
                />
            </picture>
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            Дитячі заняття
            <picture>
                <source type="image/webp" srcset="./img/child_zone.webp" />
                <source type="image/jpeg" srcset="../img/child_zone.jpg" />
                <img
                    src="./img/child_zone.jpg"
                    alt="Дитячі заняття"
                    width="132"
                    height="132"
                    class="menu__item-img"
                    loading="lazy"
                    aria-label="Тренери дитячих занять"
                />
            </picture>
        </a>
    </li>
</ul>
