<div class="submenu__contact">
    <ul class="submenu__socials-list">
        <li class="submenu__socials-item">
            <a
                target="blank"
                rel="”nofollow”"
                title="Перейти на сторінку Facebook"
                href="https://www.facebook.com/energym.sport.kiev"
                class="submenu__socials-link submenu__socials-link--facebook"
                aria-label="Перейти на сторінку фейсбук"
            >
                <span class="submenu__socials-ref">
                    https://www.facebook.com/energym.sport.kiev</span
                >
            </a>
        </li>
        <li class="submenu__socials-item">
            <a
                rel="”nofollow”"
                title="Перейти на сторінку Instagram"
                target="blank"
                href="https://www.instagram.com/energym_sport/"
                class="submenu__socials-link submenu__socials-link--instagram"
                aria-label="Перейти на сторінку Instagram"
            >
                <span class="submenu__socials-ref"
                    >https://www.instagram.com/energym_sport/</span
                >
            </a>
        </li>
        <li class="submenu__socials-item">
            <a
                rel="”nofollow”"
                title="Перейти на сторінку YouTube"
                target="blank"
                href="https://www.youtube.com/channel/UCYS1vd76QOZY7PNV4aCu5DA"
                class="submenu__socials-link submenu__socials-link--youtube"
                aria-label="Перейти на сторінку YouTube"
            >
                <span class="submenu__socials-ref">
                    https://www.youtube.com/channel/UCYS1vd76QOZY7PNV4aCu5DA</span
                >
            </a>
        </li>
    </ul>
    <ul class="submenu__contact-list">
        <li class="submenu__contact-item">
            <picture>
                <source
                    type="image/webp"
                    srcset="./img/header/header-contacts-map.webp"
                />
                <source
                    type="image/jpeg"
                    srcset="./img/header/header-contacts-map.jpg"
                />
                <img
                    src="./img/header/header-contacts-map.jpg"
                    alt="Карта проїзду"
                    title="Карта проїзду"
                    width="159"
                    height="159"
                    loading="lazy"
                />
            </picture>
        </li>
        <li class="submenu__contact-item">
            <address class="submenu__contact-address">
                ТРЦ SilverBreeze, пр. Павла Тичини, 1В
            </address>
        </li>
        <li class="submenu__contact-item">
            <a
                class="submenu__contact-tel"
                href="tel:+380445931515"
                aria-label="Зателефонувати"
                >044-593-15-15</a
            >
        </li>
    </ul>
</div>
