<ul class="menu__items">
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Зал</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Hardcore</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Advanced</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Base</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Басейн</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Для дорослих</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Для дітей</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Групові заняття</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#"
                    >Студія групових програм</a
                >
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Студія йоги</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Авторська студія</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Студія скайл</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Online студія</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Файт зона</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Ринг</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Тотамі</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Октагон</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Дитячі заняття</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Єдиноборства</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Фітнес</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Розвиваючі</a>
            </li>
        </ul>
    </li>
</ul>
