<ul class="submenu__list">
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Танцювальні</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first">Черлідинг-гімнастика</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first">Dance mix</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first">Mix dance style</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first">Choreography</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first">Break dance basic</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first">Break dance advanced</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first">Break dance acro</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Фітнес</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Fitnes game</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Кувиркалки</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Active streaching</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Baby yoga</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Junior fit</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">П'яточки-носочки</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Єдиноборства</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Айкідо</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Кіокушинкай</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Куміте карате Family</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Розвиваючі</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Всезнайка</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">АВС клуб</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Творча студія</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Спеціалізовані</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Настільний теніс</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Cycling</a>
            </li>
        </ul>
    </li>
</ul>
