<ul class="menu__items menu__items--cards">
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#">
            <p class="menu__item-text">Special one</p>
            <img
                src="../../../img/card_special-one.jpg"
                alt="card_special"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#">
            <p class="menu__item-text">Life Style</p>
            <img
                src="../../../img/card_lifestyle.jpg"
                alt="card_lifestyle"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#">
            <p class="menu__item-text">Just Fitness</p>
            <img
                src="../../../img/card_justfitnes.jpg"
                alt="card_justfitnes"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#">
            <p class="menu__item-text">Дитяча</p>
            <img
                src="../../../img/card_children.jpg"
                alt="card_children"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#">
            <p class="menu__item-text">Special one ранкова</p>
            <img
                src="../../../img/card_special-one.jpg"
                alt="card_spesial"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#"
            ><p class="menu__item-text">Life Style ранкова</p>

            <img
                src="../../../img/card_lifestyle.jpg"
                alt="card_lifestyle"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--cards">
        <a class="menu__item-link menu__item-link--cards" href="#"
            ><p class="menu__item-text">Just Fitness ранкова</p>
            <img
                src="../../../img/card_justfitnes.jpg"
                alt="card_justfitnes"
                width="132"
                height="85"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
</ul>
