<ul class="menu__items menu__items--trainers">
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            <p class="menu__item-text">Зал</p>

            <img
                src="../../../img/gym.jpg"
                alt="gym_zone"
                width="132"
                height="132"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            <p class="menu__item-text">Басейн</p>

            <img
                src="../../../img/swimmingpoll.jpg"
                alt="swim_zone"
                width="132"
                height="132"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            <p class="menu__item-text">Групові заняття</p>

            <img
                src="../../../img/groups.jpg"
                alt="group_zone"
                width="132"
                height="132"
                class="menu__item-img"
            />
        </a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            <p class="menu__item-text">Fight zone</p>

            <img
                src="../../../img/fight_zone.jpg"
                alt="fight_zone"
                width="132"
                height="132"
                class="menu__item-img"
                loading="lazy"
        /></a>
    </li>
    <li class="menu__item menu__item--trainers">
        <a class="menu__item-link menu__item-link--trainers" href="#">
            <p class="menu__item-text">Дитячі заняття</p>

            <img
                src="../../../img/child_zone.jpg"
                alt="child_zone"
                width="132"
                height="132"
                class="menu__item-img"
                loading="lazy"
            />
        </a>
    </li>
</ul>
