<ul class="submenu__list submenu__list--cards">
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Special one
            <picture>
                <source
                    type="image/webp"
                    srcset="./img/card_special-one.webp"
                />
                <source type="image/jpeg" srcset="./img/card_special-one.jpg" />
                <img
                    src="./img/card_special-one.jpg"
                    alt="картка Special one"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Special one"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Life Style
            <picture>
                <source type="image/webp" srcset="./img/card_lifestyle.webp" />
                <source type="image/jpeg" srcset="./img/card_lifestyle.jpg" />
                <img
                    src="./img/card_lifestyle.jpg"
                    alt="картка Life Style"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Life Style"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Just Fitness
            <picture>
                <source type="image/webp" srcset="./img/card_justfitnes.webp" />
                <source type="image/jpeg" srcset="./img/card_justfitnes.jpg" />
                <img
                    src="./img/card_justfitnes.jpg"
                    alt="картка Just Fitness"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Just Fitness"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Дитяча
            <picture>
                <source type="image/webp" srcset="./img/card_children.webp" />
                <source type="image/jpeg" srcset="./img/card_children.jpg" />
                <img
                    src="./img/card_children.jpg"
                    alt="картка Дитяча"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Дитяча"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Special one ранкова
            <picture>
                <source
                    type="image/webp"
                    srcset="./img/card_special-one.webp"
                />
                <source type="image/jpeg" srcset="./img/card_special-one.jpg" />
                <img
                    src="./img/card_special-one.jpg"
                    alt="картка Special one ранкова"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити Special one ранкова"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Life Style ранкова
            <picture>
                <source type="image/webp" srcset="./img/card_lifestyle.webp" />
                <source type="image/jpeg" srcset="./img/card_lifestyle.jpg" />
                <img
                    src="./img/card_lifestyle.jpg"
                    alt="картка lifestyle ранкова"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Life Style ранкова"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#"
            >Just Fitness ранкова
            <picture>
                <source type="image/webp" srcset="./img/card_justfitnes.webp" />
                <source type="image/jpeg" srcset="./img/card_justfitnes.jpg" />
                <img
                    src="./img/card_justfitnes.jpg"
                    alt="картка Just Fitness ранкова"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Just Fitness ранкова"
                />
            </picture>
        </a>
    </li>
</ul>
