<ul class="submenu__list submenu__list--cards">
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Special one
            <picture>
                <source
                    type="image/webp"
                    srcset="./img/header/header-card-special-one.webp"
                />
                <source type="image/jpeg" srcset="./img/header/header-card-special-one.jpg" />
                <img
                    src="./img/header/header-card-special-one.jpg"
                    alt="Клубна картка Special one - фото 1"
                    title = "Клубна картка Special one - фото 1"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Special one"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Life Style
            <picture>
                <source type="image/webp" srcset="./img/header/header-card-lifestyle.webp" />
                <source type="image/jpeg" srcset="./img/header/header-card-lifestyle.jpg" />
                <img
                    src="./img/header/header-card-lifestyle.jpg"
                    alt="клубна картка Life Style - фото 2"
                    title ="клубна картка Life Style - фото 2"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Life Style"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Just Fitness
            <picture>
                <source type="image/webp" srcset="./img/header/header-card-just-fitness.webp" />
                <source type="image/jpeg" srcset="./img/header/header-card-just-fitness.jpg" />
                <img
                    src="./img/header/header-card-just-fitness.jpg"
                    alt="Клубна картка Just Fitness - фото 3"
                    title="Клубна картка Just Fitness - фото 3"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Just Fitness"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Дитяча
            <picture>
                <source type="image/webp" srcset="./img/header/header-card-children.webp" />
                <source type="image/jpeg" srcset="./img/header/header-card-children.jpg" />
                <img
                    src="./img/header/header-card-children.jpg"
                    alt="Клубна картка Дитяча - фото 4"
                    title="Клубна картка Дитяча - фото 4"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Дитяча"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Special one ранкова
            <picture>
                <source
                    type="image/webp"
                    srcset="./img/header/header-card-special-one.webp"
                />
                <source type="image/jpeg" srcset="./img/header/header-card-special-one.jpg" />
                <img
                    src="./img/header/header-card-special-one.jpg"
                    alt="Клубна картка Special one ранкова - фото 5"
                    title="Клубна картка Special one ранкова - фото 5"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити Special one ранкова"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#">
            Life Style ранкова
            <picture>
                <source type="image/webp" srcset="./img/header/header-card-lifestyle.webp" />
                <source type="image/jpeg" srcset="./img/header/header-card-lifestyle.jpg" />
                <img
                    src="./img/header/header-card-lifestyle.jpg"
                    alt="Клубна картка lifestyle ранкова - фото 6"
                    title="Клубна картка lifestyle ранкова - фото 6"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Life Style ранкова"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--cards">
        <a class="submenu__link submenu__link--cards" href="#"
            >Just Fitness ранкова
            <picture>
                <source type="image/webp" srcset="./img/header/header-card-just-fitness.webp" />
                <source type="image/jpeg" srcset="./img/header/header-card-just-fitness.jpg" />
                <img
                    src="./img/header/header-card-just-fitness.jpg"
                    alt="Клубна картка Just Fitness ранкова - фото 7"
                    title="Клубна картка Just Fitness ранкова - фото 7"
                    width="132"
                    height="85"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="замовити картку Just Fitness ранкова"
                />
            </picture>
        </a>
    </li>
</ul>
