<ul class="submenu__list">
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Зал</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Hardcore</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Advanced</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Base</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Басейн</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Для дорослих</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Для дітей</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Групові заняття</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#"
                    >Студія групових програм</a
                >
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Студія йоги</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Авторська студія</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Студія скайл</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Online студія</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Файт зона</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Ринг</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Тотамі</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Октагон</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Дитячі заняття</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Єдиноборства</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Фітнес</a>
            </li>
            <li class="submenu__item-first">
                <a class="submenu__link-first" href="#">Розвиваючі</a>
            </li>
        </ul>
    </li>
</ul>
