<ul class="menu__items">
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Танцювальні</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Черлідинг-гімнастика</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Dance mix</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Mix dance style</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Choreography</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Break dance basic</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Break dance advanced</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link">Break dance acro</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Фітнес</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Fitnes game</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Кувиркалки</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Active streaching</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Baby yoga</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Junior fit</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">П'яточки-носочки</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Єдиноборства</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Айкідо</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Кіокушинкай</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Куміте карате Family</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Розвиваючі</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Всезнайка</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">АВС клуб</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Творча студія</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Спеціалізовані</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Настільний теніс</a>
            </li>
            <li class="menu__sub-item">
                <a class="menu__sub-item-link" href="#">Cycling</a>
            </li>
        </ul>
    </li>
</ul>
