<ul class="submenu__list submenu__list--trainers">
    <li class="submenu__item submenu__item--trainers">
        <a class="submenu__link submenu__link--trainers" href="#">
            Зал
            <picture>
                <source type="image/webp" srcset="./img/header/header-gym.webp" />
                <source type="image/jpeg" srcset="./img/header/header-gym.jpg" />
                <img
                    src="./img/header/header-gym.jpg"
                    alt="Зал - фото 1"
                    title="Зал - фото 1"
                    width="132"
                    height="132"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="Тренери залу"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--trainers">
        <a class="submenu__link submenu__link--trainers" href="#">
            Басейн
            <picture>
                <source type="image/webp" srcset="./img/header/header-swimmingpoll.webp" />
                <source type="image/jpeg" srcset="./img/header/header-swimmingpoll.jpg" />
                <img
                    src="./img/header/header-swimmingpoll.jpg"
                    alt="Басейн - фото 2"
                    title="Басейн - фото 2"
                    width="132"
                    height="132"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="Тренери басейну"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--trainers">
        <a class="submenu__link submenu__link--trainers" href="#">
            Групові заняття
            <picture>
                <source type="image/webp" srcset="./img/header/header-groups.webp" />
                <source type="image/jpeg" srcset="./img/header/header-groups.jpg" />
                <img
                    src="./img/header/header-groups.jpg"
                    alt="Групові заняття - фото 3"
                    title="Групові заняття - фото 3"
                    width="132"
                    height="132"
                    class="submenu__img"
                    aria-label="Тренери групових занять"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--trainers">
        <a class="submenu__link submenu__link--trainers" href="#">
            Fight zone
            <picture>
                <source type="image/webp" srcset="./img/header/header-fight-zone.webp" />
                <source type="image/jpeg" srcset="./img/header/header-fight-zone.jpg" />
                <img
                    src="./img/header/header-fight-zone.jpg"
                    alt="Fight zone - фото 4"
                    title="Fight zone - фото 4"
                    width="132"
                    height="132"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="Тренери Файт зони"
                />
            </picture>
        </a>
    </li>
    <li class="submenu__item submenu__item--trainers">
        <a class="submenu__link submenu__link--trainers" href="#">
            Дитячі заняття
            <picture>
                <source type="image/webp" srcset="./img/header/header-child-zone.webp" />
                <source type="image/jpeg" srcset="./img/header/header-child-zone.jpg" />
                <img
                    src="./img/header/header-child-zone.jpg"
                    alt="Дитячі заняття - фото 5"
                    title="Дитячі заняття - фото 5"
                    width="132"
                    height="132"
                    class="submenu__img"
                    loading="lazy"
                    aria-label="Тренери дитячих занять"
                />
            </picture>
        </a>
    </li>
</ul>
