<ul class="submenu__list">
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Зал</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Hardcore</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Advanced</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Base</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Басейн</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Для дорослих</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Для дітей</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Групові заняття</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first"
                    >Студія групових програм</a
                >
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Студія йоги</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Авторська студія</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Студія скайл</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Online студія</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Файт зона</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Ринг</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Тотамі</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Октагон</a>
            </li>
        </ul>
    </li>
    <li class="submenu__item">
        <a class="submenu__link submenu__link--pseudo">Дитячі заняття</a>
        <ul class="submenu__list-first">
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Єдиноборства</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Фітнес</a>
            </li>
            <li class="submenu__item-first">
                <a href="#" class="submenu__link-first">Розвиваючі</a>
            </li>
        </ul>
    </li>
</ul>
