<ul class="menu__items">
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Зал</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Hardcore</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Advanced</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Base</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Басейн</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Для дорослих</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Для дітей</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Групові заняття</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link"
                    >Студія груповых программ</a
                >
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Студія йоги</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Авторская студія</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Студія скайл</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Online студія</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Файн зона</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Ринг</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Тотамі</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Октагон</a>
            </li>
        </ul>
    </li>
    <li class="menu__item">
        <a class="menu__item-link menu__sub-title-link">Дитячі заняття</a>
        <ul class="menu__sub-items">
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Единоборства</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Фітнес</a>
            </li>
            <li class="menu__sub-item">
                <a href="#" class="menu__sub-item-link">Розвиваючі</a>
            </li>
        </ul>
    </li>
</ul>
