.header__lang-list {
    display: flex;
    margin-right: 19px;
    @include mq(tbLG, true) {
        margin-right: 43px;
    }
}

.header__lang-item {
    @include text(15px, 700, $secondaryFont);
    line-height: 18px;
    color: clr(black);
    &--ukr {
        margin-right: 6px;
        &::after {
            content: "";
            position: absolute;
            margin-left: 2px;
            top: 5px;
            width: 2px;
            height: 11px;
            background-color: clr(purple);
        }
    }

    &--active {
        color: clr(pink);
    }
}
