.location {
    @extend %forms;
    @include mq(tbLG, true) {
        @include text(16px, 300, $secondaryFont);
        height: 25px;
        margin-right: 33px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    @media (max-width: 767px) {
        border: 1px solid #7a7979;
        top: 42px;
    }
    height: 30px;
    cursor: pointer;
    &--active {
        display: block;
        z-index: 2;
    }
}

.location--selected .location__list {
    display: block;
}

.location__btn {
    position: relative;
    cursor: pointer;
    @include mq(tbLG, true) {
        margin-right: 14px;
    }
    display: flex;
    margin-right: 19px;
    &:before {
        content: url("../img/svg/location-mob.svg");
        width: 10px;
        height: 16px;
        @include mq(tb, true) {
            width: 12px;
            height: 20px;
        }
        @include mq(tbLG, true) {
            margin-right: 0;
        }
    }
}

.location__default-item {
    @include mq(tbLG, true) {
        line-height: 25px;
    }
    line-height: 30px;
}

.location__item {
    @include mq(tbLG, true) {
        line-height: 23px;
    }
    line-height: 28px;
}
.location__header {
    @include mq(tbLG, true) {
        padding-left: 16px;
        padding-right: 8px;
    }
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    position: relative;
}
.location__arrow {
    margin-left: 2px;
    border: none;
    background: transparent;
    cursor: pointer;
    &::before {
        content: url("../img/svg/location_down_arrow.svg");
        display: inline-block;
        margin-bottom: 3px;
    }
}
.location__list {
    @include mq(tbLG, true) {
        padding-left: 16px;
        position: relative;
    }
    @media (max-width: 767px) {
        position: absolute;
        top: 28px;
        right: -1px;
        width: 216px;
        border-bottom: 1px solid #7a7979;
        border-left: 1px solid #7a7979;
        border-right: 1px solid #7a7979;
    }
    display: none;

    padding: 3px 0 9px 8px;
    background-color: clr(white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
