//extended classes at headerLocation.scss and headerSearch.scss
%forms {
    width: 216px;
    @include text(18px, 300, $secondaryFont);
    @include mq(tbLG, true) {
        width: 200px;
        @include text(16px, 300, $secondaryFont);
        position: relative;
        line-height: 25px;
        display: block;
    }
    @media (max-width: 767px) {
        border: 1px solid #7a7979;
    }
    @media (max-width: 999px) {
        position: absolute;
        border: none;
        right: 9px;
        top: 36px;
    }

    background: clr(secondaryBG);
    color: #7a7979;
    outline: none;

    display: none;
    &:focus {
        outline: auto;
    }
}

//extended classes at menuItems.sccs
%subItemsList {
    @include mq(tbLG, true) {
        position: absolute;
        left: 0;
        width: 100%;
        justify-content: space-between;
        background-color: clr(white);
    }
    display: none;
}
