.header__lang-list {
    display: flex;
    margin-right: 19px;
    @include mq(tbLG, true) {
        margin-right: 43px;
    }
}

.header__lang-item {
    @include text(15px, 700, $secondaryFont);
    line-height: 18px;
    &--ukr {
        color: clr(pink);
        margin-right: 6px;
        &::after {
            content: "";
            position: absolute;
            margin-left: 3px;
            width: 2px;
            height: 15px;
            background-color: clr(purple);
        }
    }

    &--rus {
        color: clr(black);
    }
}
