.search__form {
    display: flex;
}
.search__form:hover .search__svg {
    fill: clr(red);
}
.search__form:hover .search__input {
    background-color: clr(pink);
}
.search__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 19px;
    @include mq(tb, true) {
        margin-right: 21px;
    }

    @include mq(tbLG, true) {
        margin-right: 5px;
    }
}

.search__label {
    display: none;
}

.search__input {
    @extend %forms;
    @include mq(tbLG, true) {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 4px;
        border: none;
        @include text(16px, 300, $secondaryFont);
    }
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 8px;
    @media (max-width: 767px) {
        top: 40px;
    }
    &:active {
        outline: none;
    }
    &--active {
        display: block;
        z-index: 2;
    }
}
