.search__form {
    display: flex;
}
.search__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search__input {
    @extend %forms;
    @include mq(tbLG, true) {
        display: block;
        border-radius: 4px;
        padding-top: 0;
        padding-bottom: 0;
        @include text(16px, 300, $secondaryFont);
    }
    @media (max-width: 767px) {
        right: 10px;
    }
    display: none;
    opacity: 1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &--active {
        display: block;
        animation-name: move;
        animation-duration: 0.5s;
    }
}
