.location {
    @extend %forms;
    @include mq(tbLG, true) {
        @include text(16px, 300, $secondaryFont);
        position: relative;
        height: 25px;
        opacity: 1;
        margin-right: 33px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    display: block;
    width: 208px;
    height: 30px;
    opacity: 0;
    &--active {
        opacity: 1;
        animation-name: move;
        animation-duration: 0.5s;
    }
}

.location--selected .location__list {
    opacity: 1;
    animation-name: move;
    animation-duration: 0.5s;
}

// .location__btn-box {
//     position: relative;
// }

.location__btn {
    position: relative;
    @include mq(tbLG, true) {
        margin-right: 14px;
    }
    display: flex;
    margin-right: 19px;
}

.location__default-item {
    @include mq(tbLG, true) {
        line-height: 25px;
    }
    line-height: 30px;
}

.location__item {
    @include mq(tbLG, true) {
        line-height: 23px;
    }
    line-height: 28px;
}
.location__header {
    @include mq(tbLG, true) {
        padding-left: 16px;
    }
    position: relative;

    padding-left: 8px;
}
.location__arrow {
    @include mq(tbLG, true) {
        top: 2px;
    }
    position: absolute;
    top: 4px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.location__list {
    @include mq(tbLG, true) {
        padding-left: 16px;
    }
    display: block;
    opacity: 0;
    padding: 3px 0 9px 8px;
    background-color: clr(white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
