.trainers__container {
  padding-bottom: 50px;
}

.trainers__header {
  @include mq(tbLG, tbLG) {
    display: flex;
    justify-content: space-between;
  }
}

.trainers__title-hide {
  display: none;

  @media (min-width: 576px) {
    display: inline-block;
  }
}

.trainers__select {
  font-family: $secondaryFont;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  display: flex;
  position: relative;
  background-color: #fff;
  width: 250px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 5px 2px #223c5033;

  @include mq(tb, tb) {
    align-self: flex-end;
  }

  @include mq(tbLG, tbLG) {
    margin-right: 30px;
  }
}

.trainers__select-list {
  position: absolute;
  background-color: #fff;
  width: 250px;

  &--active {
    box-shadow: 0 2px 5px 2px #223c5033;
  }
}

.trainers__arrow {
  border: none;
  background: transparent;
  cursor: pointer;
}
.trainers__arrow--close {
  transform: scaleY(-1);

.trainers__arrow-svg {
  vertical-align: middle;
}
.trainers__select-item {
  padding: 3px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: clr(purpleDark);
  &:first-child {
    border-bottom: 1px solid #c4c4c4;
  }

  &--opened {
    display: none;
  }
}
.trainers__select-item--first {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 3px 16px;
}
.trainers__select-item--hiden {
  display: none;
}


.trainers__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  @media (min-width: 576px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
  @include mq(tb, tb) {
    justify-content: start;
  }
}
.trainers-card {
  display: none;
  width: 100%;
  max-width: 300px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  align-self: stretch;
  @media (min-width: 576px) {
    width: 220px;
    margin-left: 29px;
    margin-right: 29px;
  }

  @include mq(tb, tb) {
    width: auto;
  }
  &--active {
    display: block;
  }
}

.trainers-card__img {
  width: 100%;
  @media (min-width: 576px) {
  }
  @include mq(tb, tb) {
    width: 175px;
    height: 250px;
  }
}

.trainers-card__title {
  font-family: $primaryFont;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 12px;
  @media (min-width: 576px) {
    font-size: 16px;
    line-height: 20px;
  }
  @include mq(tb, tb) {
    margin-top: 16px;
    font-size: 17px;
  }
  @include mq(dt, dt) {
    margin-top: 13px;
    line-height: 21px;
  }
}

.trainers-card__experiance {
  font-family: $secondaryFont;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
  @include mq(dt, dt) {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }
}

.trainers-card__type {
  font-family: $secondaryFont;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 8px;
  color: clr(red);
  @include mq(dt, dt) {
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
  }
}
