.trainers__container {
  padding-bottom: 50px;
}

.trainers__header {
  @include mq(tbLG, tbLG) {
    display: flex;
    justify-content: space-between;
  }
}

.trainers__title-hide {
  display: none;

  @media (min-width: 576px) {
    display: inline-block;
  }
}

.trainers__select {
  align-self: center;
  display: flex;
  position: relative;
  @include mq(tb, tb) {
    align-self: flex-end;
  }
}

.trainers__select-list {
  font-family: $secondaryFont;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  background-color: #fff;
  box-shadow: 0 2px 5px 2px #223c5033;
  min-width: 150px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  @media (min-width: 576px) {
    min-width: 200px;
  }
  @include mq(tb, true) {
    right: 37px;
    top: -40px;
  }
}

.trainers__arrow {
  border: none;
  background: transparent;
  cursor: pointer;
}
.trainers__arrow--close {
  transform: scaleY(-1);
}

.trainers__select-item {
  padding: 3px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    color: clr(purpleDark);
  }

  &--opened {
    display: none;
  }
}
.trainers__select-item--hiden {
  display: none;
}
.trainers__select-item--first.trainers__select-item--opened {
  display: flex;
  border-bottom: 1px solid #c4c4c4;
}

.trainers__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  @media (min-width: 576px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}
.trainers-card {
  display: none;
  width: 100%;
  max-width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  align-self: stretch;
  @media (min-width: 576px) {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  &--active {
    display: block;
  }
}

.trainers-card__img {
  width: 100%;
  @media (min-width: 576px) {
    width: 175px;
    height: 250px;
  }
}

.trainers-card__title {
  font-family: $primaryFont;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  @media (min-width: 576px) {
    font-size: 16px;
    line-height: 20px;
  }
  @include mq(tb, tb) {
    font-size: 17px;
  }
  @include mq(dt, dt) {
    font-size: 18px;
    line-height: 21px;
  }
}

.trainers-card__experiance {
  font-family: $secondaryFont;
  font-size: 16px;
  line-height: 18px;
  @include mq(dt, dt) {
    font-size: 18px;
    line-height: 22px;
  }
}

.trainers-card__type {
  font-family: $secondaryFont;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: clr(red);
  @include mq(dt, dt) {
    font-size: 18px;
    line-height: 20px;
  }
}
