.trainers {
    &--service {
        & .section-title__h2 {
            margin-top: 40px;
            @include mq(mb, true) {
                margin-top: 80px;
            }

            @include mq(tbLG, true) {
                margin-top: 120px;
            }

            @include mq(dtSM, true) {
                margin-top: 160px;
            }
        }
        & .container {
            background-color: #faf7fb;
            padding-bottom: 50px;
        }
    }
}

.trainers__header {
    @include mq(tbLG, tbLG) {
        display: flex;
        justify-content: space-between;
    }
}

.trainers__title-hide {
    display: none;

    @media (min-width: 576px) {
        display: inline-block;
    }
}

.trainers__select {
    @include mq(tb, tb) {
        align-self: flex-end;
    }

    @include mq(tbLG, tbLG) {
        margin-right: 30px;
    }
    @include mq(tbLG, false) {
        margin-top: 30px;
        margin-left: 30px;
    }
    display: flex;
    align-self: center;
    position: relative;
    width: 250px;
    font-family: $secondaryFont;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 5px 2px #223c5033;
    cursor: pointer;
}
.trainers__select--opened-menu {
    border-radius: 4px 4px 0 0;
    box-shadow: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 16px;
        width: 218px;
        height: 1px;
        background-color: #c4c4c4;
    }
}

.trainers__select-list {
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
    background-color: #fff;
    width: 250px;
    border-radius: 0 0 4px 4px;
    &--active {
        display: block;
        box-shadow: 0 5px 5px -5px #223c5033;
    }
}

.trainers__select-item {
    position: relative;
    padding: 3px 16px;
    cursor: pointer;
    color: clr(purpledark);

    &:hover {
        background-color: clr(secondarybg);
    }

    &--first {
        position: relative;
        width: 250px;
        padding: 3px 16px;

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 16px;
            width: 14px;
            height: 14px;
            background-image: url(../img/svg/location_down_arrow.svg);
            background-size: 100% 100%;
        }
    }
    &--checked {
        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 16px;
            width: 12px;
            height: 10px;
            background-image: url(../img/svg/checked.svg);
            background-size: 100% 100%;
        }
    }
}

.trainers__select-first {
    &::after {
        content: "";
        position: absolute;
        top: 6px;
        right: 16px;
        width: 14px;
        height: 14px;
        background-image: url(../img/svg/location_down_arrow.svg);
        background-size: 100% 100%;
        transform: rotate(180deg);
    }
}

.trainers__list {
    @include mq(tb, tb) {
        justify-content: start;
    }
    @include mq(tbLG, false) {
        margin-top: 0;
    }
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media (min-width: 576px) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
    }
}

.trainers-card {
    display: none;
    align-self: stretch;
    width: 100%;
    max-width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: $secondaryFont;
    font-size: 16px;
    line-height: 18px;

    @media (min-width: 576px) {
        width: 220px;
        margin-left: 29px;
        margin-right: 29px;
    }

    @include mq(tb, tb) {
        width: 180px;
    }
    &--active {
        display: block;
    }
}
.trainers__link {
    display: block;
    color: inherit;
}
.trainers-card__img {
    @include mq(tb, tb) {
        height: 250px;
    }
    object-fit: cover;

    width: 100%;
}

.trainers-card__title {
    @include mq(tb, tb) {
        margin-top: 16px;
        font-size: 17px;
    }
    @include mq(dt, dt) {
        margin-top: 13px;
        line-height: 21px;
    }
    font-family: $primaryFont;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin-top: 12px;
    @media (min-width: 576px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.trainers-card__experiance {
    @include mq(dt, dt) {
        font-size: 18px;
        line-height: 22px;
        margin-top: 5px;
    }

    font-size: 16px;
    line-height: 18px;
    margin-top: 8px;
}

.trainers-card__type {
    @include mq(dt, dt) {
        font-size: 18px;
        line-height: 20px;
        margin-top: 5px;
    }

    font-weight: 500;
    margin-top: 8px;
    color: clr(red);
}

// Trainers page
.trainer__description-wrapper {
    display: flex;
    justify-content: space-between;

    @include mq(tblg, false) {
        flex-direction: column;
    }
}

.trainer__photos {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 150px;

    margin-bottom: 45px;

    & img {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        object-fit: cover;
    }
}
