.location {
    @include text(16px, 300, $secondaryFont);
    @include mq(tbLG, true) {
        display: block;
        margin-right: 42px;
    }
    @include mq(tbLG, false) {
        position: absolute;
        top: 38px;
        right: -22px;
    }

    display: none;
    width: 200px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background: clr(secondaryBG);
    line-height: 20px;
    color: #7a7979;
    outline: none;
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: auto;
    }
    &--active {
        display: block;
    }
}

.location--selected .location__list {
    display: block;
}

.location__btn {
    @include mq(tbLG, true) {
        margin-right: 14px;
    }
    display: flex;
    margin-right: 19px;
}
.location__default-item,
.location__item {
    display: block;
    margin-bottom: 8px;
}
.location__header {
    position: relative;
    padding-left: 16px;
}
.location__arrow {
    position: absolute;
    top: 2px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.location__list {
    display: none;
    padding-left: 16px;
}
