.navigation {
    display: none;
    position: absolute;
    z-index: 10;
    top: -8px;
    right: 10px;

    padding-top: 8px;
    padding-bottom: 24px;
    background-color: clr(white);
    color: clr(purpleDark);
    @include mq(mb, true) {
        width: 300px;
    }

    @include mq(tb, true) {
        padding-top: 2px;
    }

    @include mq(tbLG, true) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: relative;
        width: 100%;
        padding: 0;
        right: 0;
    }

    &--active {
        display: grid;
        animation-name: fade;
        animation-duration: 1s;
    }
}

.menu {
    @include mq(tbLG, true) {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 0;
    }
    display: block;
    width: 300px;
    background-color: clr(white);
    color: clr(purpleDark);
    padding-left: 24px;
}

.menu__title-box {
    @include mq(tbLG, true) {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.menu__title {
    @include text(24px, 400, $primaryFont);
    @include mq(tbLG, true) {
        display: none;
    }
    color: clr(purple);
    line-height: 29px;
}

.burger-menu {
    cursor: pointer;
    @include mq(tbLG, true) {
        display: none;
    }
    &--active {
        display: block;
    }
}

.square-btn {
    @include mq(tbLG, true) {
        display: none;
    }
    width: 40px;
    height: 40px;
    background-color: clr(purple50);
}

.black {
    @include mq(tbLG, true) {
        margin-left: 20px;
    }
    color: clr(black);
}
