.menu__sub-items {
    @include mq(tbLG, true) {
        display: block;
        margin: 0;
    }
    display: none;
    margin: 16px 16px 16px 0;
    &--active {
        @include mq(tbLG, true) {
            display: none;
        }
        display: block;
    }
}

.menu__sub-item {
    margin-bottom: 15px;

    @include mq(tbLG, true) {
        margin-bottom: 7px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.menu__sub-item-link {
    @include text(15px, 500, $secondaryFont);
    @include mq(tbLG, true) {
        @include text(14px, 400, $secondaryFont);
        color: clr(black);
        padding-left: 0;
        display: block;
    }
    &:hover {
        @include mq(tbLG, true) {
            color: clr(purple);
        }
    }
    color: clr(purpleDark);
    line-height: 18px;
    padding-left: 5px;
    display: block;
    transition: all 200ms linear;
}

.menu__sub-title-link {
    &:checked {
        color: clr(red);
    }
    &::after {
        @include mq(tbLG, true) {
            content: "";
        }
        @include mq(tb, true) {
            margin-right: 38px;
        }
        content: url("../../../img/svg/menu_arrow_down.svg");
        width: 8px;
        height: 16px;
        margin-right: 50px;
    }
    &--active::after {
        content: url("../../../img/svg/menu_arrow_up.svg");
    }
}
