.search__form {
    display: flex;
}
.search__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search__input {
    @include text(16px, 300, $secondaryFont);
    @include mq(tbLG, true) {
        display: block;
    }
    @media (max-width: 767px) {
        position: absolute;
        top: 56px;
        right: 10px;
    }
    @media (max-width: 999px) {
        position: absolute;
        top: 44px;
        right: 9px;
        z-index: 2;
    }

    display: none;
    width: 200px;
    border-radius: 4px;
    padding-left: 16px;
    border: none;
    background: clr(secondaryBG);
    line-height: 25px;
    color: #7a7979;
    outline: none;
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: auto;
    }
    &--active {
        display: block;
    }
}


