.search__form {
    display: flex;
}
.search__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search__input {
    @include text(9px, 300, $secondaryFont);
    width: 120px;
    height: 27px;
    @include mq(tbLG, true) {
        @include text(16px, 300, $secondaryFont);
        display: block;
        width: 200px;
        line-height: 25px;
    }
    @media (max-width: 767px) {
        position: absolute;
        top: 41px;
        right: 10px;
    }
    @media (max-width: 999px) {
        position: absolute;
        top: 36px;
        right: 9px;
        z-index: 2;
    }

    display: none;

    border-radius: 4px;
    padding-left: 16px;
    border: none;
    background: clr(secondaryBG);

    color: #7a7979;
    outline: none;
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: auto;
    }
    &--active {
        display: block;
    }
}
