.logo_desk {
    @include mq(tbLG, true) {
        width: 118px;
        height: 24px;
    }
}

.location_small {
    @include mq(tb, true) {
        width: 12px;
        height: 20px;
    }
    @include mq(tbLG, true) {
        margin-right: 0;
    }
    margin-right: 19px;
}

.search_desk {
    @include mq(tb, true) {
        width: 22px;
        height: 22px;
        margin-right: 21px;
    }
    @include mq(tbLG, true) {
        margin-right: 12px;
        width: 19px;
        height: 19px;
    }
    margin-right: 19px;
}

.facebook_desk,
.insta_desk {
    @include mq(tbLG, true) {
        width: 32px;
        height: 32px;
    }
}

.youtube_desk {
    @include mq(tbLG, true) {
        width: 32px;
        height: 24px;
    }
}

.tel_desk {
    @include mq(tbLG, true) {
        display: block;
        width: 24px;
        height: 24px;
    }
    display: none;
}

.location_desk {
    @include mq(tb, true) {
        margin-bottom: 18px;
        margin-right: 0;
    }
    @include mq(tbLG, true) {
        margin-bottom: 0;
        width: 24px;
        height: 28px;
    }
    margin-right: 15px;
}
