.codex {
    background-color: clr(secondaryBG);
    padding-top: 16px;
}
.codex__wrapper {
    display: grid;
    grid-template-columns: 1.2fr;
    grid-template-rows: 59px min-content min-content 48px;
    row-gap: 24px;
    grid-template-areas: "title" "video" "text" "btn";

    @include mq(tb, true) {
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: 61px min-content;
        grid-template-areas: "title video" "text video";
    }
    @include mq(tbLG, true) {
        row-gap: 40px;
        grid-template-rows: 91px minmax(min-content, 266px);
    }
    @include mq(dt, true) {
        grid-template-rows: 138px min-content 70px;
        grid-template-areas: "title video" "text video" "btn video";
    }
}

.codex__title {
    font-size: rem(22);
    line-height: 27px;
    padding: 16px;
    grid-area: title;

    @include mq(tb, true) {
        font-size: rem(24);
        line-height: 29px;
        padding: 16px 24px;
    }
    @include mq(tbLG, true) {
        font-size: rem(36);
        padding: 24px 32px;
        line-height: 44px;
    }
    @include mq(dt, true) {
        font-size: rem(48);
        line-height: 58px;
        padding: 40px;
    }
    &--part {
        text-transform: uppercase;
    }
}

.codex__info {
    @include mq(tb, true) {
        margin-left: 24px;
        max-width: 314px;
    }
    @include mq(tbLG, true) {
        max-width: 430px;
        margin-left: 28px;
    }
    @include mq(dt, true) {
        max-width: 485px;
        margin-left: 40px;
    }
}

.codex__text {
    @include text(rem(15), 500, $secondaryFont);
    line-height: 18px;
    color: clr(black);

    grid-area: text;

    &:not(:last-child) {
        margin-bottom: 4px;

        @include mq(tb, true) {
            margin-bottom: 16px;
        }
        @include mq(dt, true) {
            margin-bottom: 12px;
        }
    }

    @include mq(dt, true) {
        font-size: rem(18);
        line-height: 22px;
    }
}

.codex__order-btn {
    font-size: rem(13);
    line-height: 16px;
    grid-area: btn;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;

    @include mq(tb, true) {
        display: none;
    }
    @include mq(dt, true) {
        display: block;
        font-size: rem(18);
        line-height: 36px;
        display: flex;
        justify-self: flex-start;
        margin-left: 40px;
    }
}

// Video

.codex__video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    grid-area: video;

    // propotions for mobile
    padding-bottom: 48.43%;

    @include pseudo(after, "", absolute) {
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../../../img/about-us-codex/video-play.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        z-index: 1;
        cursor: pointer;

        @include mq(dt, true) {
            width: 100px;
            height: 100px;
        }
    }

    @include mq(tb, true) {
        // propotions for tablet and more
        padding-bottom: 73.61%;
        // for decrease and replace video as in design
        transform: scale(0.83);
        transform-origin: right center;
    }
    @include mq(tbLG, true) {
        transform: scale(0.88);
        transform-origin: right bottom;
    }
    @include mq(dt, true) {
        margin-top: 4%;
        transform: scale(0.9);
        transform-origin: right bottom;
    }
}
.codex__video-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.codex__video-cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.codex__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
