<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Energym</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      @@include("../../blocks/parts/favicon.html")

      <link rel="stylesheet" href="../styles/main.css" />
   </head>
   <body class="page-body">
      <button class="primary-btn">ЗАМОВИТИ КАРТУ</button>
      <a class="primary-btn">ЗАМОВИТИ КАРТУ</a>
      <button class="secondary-btn">ПЕРЕДЗВОНІТЬ МЕНІ</button>
      <div>
         <a href="/" class="goto-btn">Групові заняття</a>
      </div>
      <div>
         <a href="/" class="more-btn">Дізнатись більше</a>
         <button class="contact-us-btn">Написати нам</button>
      </div>

      <div>
         <button class="square-btn square-btn--cross"></button>
         <button class="square-btn square-btn--left"></button>
         <button class="square-btn square-btn--right"></button>
         <button class="square-btn square-btn--up"></button>
         <button class="square-btn square-btn--down"></button>
         <button
            class="square-btn square-btn--down square-btn--bigger"
         ></button>
      </div>

      <div>
         <p class="section-highlight section-title__h1">Кодекс ENERGYM</p>
         <p class="section-highlight section-highlight--inversed">
            Години занять та активності
         </p>
         <p class="section-highlight section-highlight--inversed">
            <span class="section-highlight__title">#DANCEDANCE</span>
            <span class="section-highlight__subtitle">
               Most energy area in dance-class
            </span>
         </p>
      </div>

      <h1 class="section-title__h1">title</h1>
      <h2 class="section-title__h2">title</h2>
      <h3 class="section-title__h3">title</h3>
      <h4 class="section-title__h4">title</h4>
      <h5 class="section-title__h5">title</h5>

      <p class="section-text__h1">text</p>
      <p class="section-text__h2">text</p>
      <p class="section-text__h3">text</p>

      <img src="./img/svg/appstore_dark.svg" alt="applestore" />
      <img src="./img/svg/appstore_light.svg" alt="applestore" />
      <img src="./img/svg/googleplay_dark.svg" alt="googlestore" />
      <img src="./img/svg/googleplay_light.svg" alt="googlestore" />

      <div>
         <img src="./img/card_lifestyle.png" alt="card" />
         <img src="./img/card_special-one.png" alt="card" />
      </div>

      <script src="../js/main.js"></script>
      <script src="../js/vendor.js"></script>
   </body>
</html>
