.cards__container {
  background: #faf7fb;
}

.cards-button__area {
  padding: 24px 0;
  @include mq(tb, true) {
    width: 40%;
    position: relative;
    padding-top: 73px;
  }
}

.cards__button {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  padding: 16px 0;
  &:last-child {
    margin-top: 16px;
    background: #ffffff;
  }
  @include mq(tb, true) {
    @include text(15px, 700, $primaryFont);
    line-height: 16px;
  }
}

.cards__order {
  display: flex;
  @include text(13px, 400, $primaryFont);
  line-height: 16px;
  @include mq(tb, true) {
    position: absolute;
    top: 69px;
  }
}

.cards-order__item {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(tb, true) {
    position: absolute;
    left: 349%;
    padding-left: 0;
    width: 100%;
}
@include mq(tbLG, true) {
  position: absolute;
  left: 460%;
  top: 182px;
  padding-left: 0;
  width: 100%;
}
}

.cards-order__slogan {
  font-size: 22px;
  line-height: 27px;
  color: #b694c0;
  width: 50%;
  @include mq(tb, true) {
    position: relative;
    width: 100%;
  }
}

.cards-order__compare {
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  @include mq(tb, true) {
    position: absolute;
    top: 118px;
    left: 55%;
  }
  @include mq(tbLG, true) {
    top: 256px;
    left: 56%;
  }
}

.order-item__name {
  padding: 12px 0 4px 0;
  @include mq(tb, true) {
  padding-top: 95px;
  @include text(17px, 400, $primaryFont);
  line-height: 20px;
  align-self: start;
  }
}

.order-item__price {
  font-size: 9px;
  line-height: 11px;
  color: #5c3668;
  padding-bottom: 12px;
  @include mq(tb, true) {
    @include text(15px, 400, $primaryFont);
    line-height: 18px;
    align-self: start;
    }
}

.compare-cards__add-img {
  @include mq(tb, true) {
    display: none;
  }
  &--big {
    display: none;
    @include mq(tb, true) {
      display: block;
    }
  }
}

.compare-cards__btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @include text(9px, 500, $secondaryFont);
  line-height: 11px;
  color: #5c3668;
  padding: 0 10px 8px 10px;
  border: 2px solid #e5004f;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 8px;
  @include mq(tb, true) {
    @include text(15px, 500, $secondaryFont);
    line-height: 18px;
    padding: 0 18px 8px 18px;
  }
  @include mq(tbLG, true) {
    padding: 0 49px 25px 49px;
  }
}

.compare-cards__text {
  padding-top: 3px;
}

.compare-cards__current-pic {
  padding-right: 11px;
  @include mq(tb, true) {
  padding-right: 46px;
  }
}

.cards__service {
  @include mq(tb, true) {
    padding-top: 80px;
  }
}


.cards-service__title {
  @include text(17px, 400, $primaryFont);
  line-height: 20px;
  position: relative;
  bottom: 45px;
  display: inline-block;
  // @include mq(tb, true) {
  //   top: 34px;
  //   }
}

.cards-service__table {
  @include text(13px, 500, $secondaryFont);
  line-height: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  @include mq(tb, true) {
    @include text(15px, 500, $secondaryFont);
  line-height: 18px;
  padding-bottom: 100px;
  }
}

.service-table__item {
  display: flex;
  align-items: center;
  &--first {
    align-items: start;
  }
}

.service-table__title {
  width: 62%;
}

.service-table__value {
  padding: 8px 0 8px 32px;
  width: 48%;
  &--white {
    background: #ffffff;
  }
  &--first {
    padding: 0 0 12px 0;
    @include text(9px, 400, $secondaryFont);
    line-height: 11px;
    display: flex;
    flex-direction: column;
    @include mq(tb, true) {
      @include text(15px, 500, $secondaryFont);
    line-height: 18px;
    }
    
  }
  &--weekday {
    padding-bottom: 8px;
  }
}
