.cards__container {
  background: #faf7fb;
}

.cards-button__area {
  padding: 24px 0;
}

.cards__button {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  padding: 16px 0;
  &:last-child {
    margin-top: 16px;
    background: #ffffff;
  }
}

.cards__order {
  display: flex;
  @include text(13px, 400, $primaryFont);
  line-height: 16px;
}

.cards-order__item {
  padding-left: 11px;
}

.cards-order__slogan {
  font-size: 22px;
  line-height: 27px;
  color: #b694c0;
  width: 50%;
}

.order-item__compare {
  display: flex;
}

.order-item__name {
  padding: 12px 0 4px 0;
}

.order-item__price {
  font-size: 9px;
  line-height: 11px;
  color: #5c3668;
}
