.kids-hero__wrapper {
    background-color: clr(secondaryBG);
    @include mq(tb, true) {
        display: grid;
        grid-template-columns: 184px auto;
        grid-template-rows: 61px min-content;
        grid-template-areas: "title info" "video video";
        align-items: center;
        background-color: transparent;
    }

    @include mq(tbLG, true) {
        grid-template-columns: 353px auto;
        grid-template-rows: 91px min-content;
    }

    @include mq(dt, true) {
        grid-template-rows: 136px min-content;
        padding-bottom: 0;
    }
}
.kids-hero__title {
    grid-area: title;
    &--part {
        display: none;
        @include mq(dt, true) {
            display: block;
            @include text(24px, 500, $secondaryFont);
            line-height: 30px;
        }
    }
}
.kids-hero__info-wrapper {
    grid-area: info;
}

.video-wrapper {
    &--center {
        grid-area: video;
        height: 0;
        padding-bottom: 62.5%;
    }
}

.video-btn {
    &--adaptive {
        width: 48px;
        height: 48px;
        @include mq(tbLG, true) {
            width: 64px;
            height: 64px;
        }
        @include mq(dt, true) {
            width: 130px;
            height: 130px;
        }
    }
}
