<form class="search__form">
    <button
        type="button"
        id="search__btn"
        class="search__btn search__btn--active"
        aria-label="шукати на сайті"
    >
        <svg fill="none" class="search__svg">
            <use href="#search_desk"></use>
        </svg>
    </button>
    <label for="search" class="search__label">Пошук на сайті</label>
    <input
        type="search"
        name="search"
        id="search"
        placeholder="Пошук"
        class="search__input"
        aria-label="Пошук на сайті"
        title="Пошук на сайті"
    />
</form>
