<div class="location__wrapper">
    <a
        class="location__btn"
        id="location__btn"
        aria-label="обрати тренажерний зал"
    >
        <svg fill="none" class="location__svg">
            <use href="#location_small"></use>
        </svg>
    </a>

    <div class="location" id="location">
        <div class="location__header">
            <span class="location__default-item">Березняки</span>
            <button
                class="location__arrow"
                id="location__arrow"
                aria-label="Обрати тренажерний зал зі списку"
                title="Обрати тренажерний зал"
            ></button>
        </div>
        <ul class="location__list">
            <li class="location__item">Березняки</li>
            <li class="location__item">Дніпровський р-н</li>
        </ul>
    </div>
</div>
