<ul class="header__lang-list">
    <li  class="header__lang-item">
        <a
            href="#"
            class="
                header__lang-link
                header__lang-link--active
            "
            aria-label="перейти на сайт українською мовою"
            >УК</a
        >
    </li>
    <li class="header__lang-item">
        <a
            href="#"
            class="header__lang-link"
            aria-label="перейти на сайт на русском языке"
            >РУС</a
        >
    </li>
</ul>
