<a class="location__btn" id="location__btn" aria-label="обрати тренажерний зал">
    <svg width="10" height="16" fill="none" class="location_small">
        <use href="#location_small"></use>
    </svg>
</a>

<div class="location" id="location">
    <div class="location__header">
        <span class="location__default-item">Березняки</span>
        <button
            class="location__arrow"
            id="location__arrow"
            aria-label="Обрати тренажерний зал зі списку"
            title="Обрати тренажерний зал"
        >
            <svg width="10" height="6" fill="none">
                <use href="#location__down-arrow"></use>
            </svg>
        </button>
    </div>
    <ul class="location__list">
        <li class="location__item">Березняки</li>
        <li class="location__item">Дніпровський р-н</li>
    </ul>
</div>
