.service-description--simple {
    & .container {
        display: flex;
        justify-content: space-between;

        @include mq(tb, false) {
            flex-direction: column;
        }
    }
}

.service-simple__gallery {
    max-width: 50%;
    margin-top: 50px;

    @include mq(mb, true) {
        margin-top: 80px;
    }

    @include mq(tbLG, true) {
        margin-top: 120px;
    }

    @include mq(dtSM, true) {
        margin-top: 160px;
    }
}
.service-simple__gallery-wrapper {
    display: none;
    @include mq(tb, tb) {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;

        margin-bottom: 45px;
    }
}

.service-simple__gallery-img {
    &:first-child {
        grid-row: span 2;
    }

    display: flex;
}

.service-simple__btn {
    display: inline-block;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 15px 70px;

    @include mq(tb, true) {
        font-size: 15px;
        line-height: 18px;
        padding: 12px 50px;
    }

    @include mq(tbLG, true) {
        padding: 12px 48px;
    }

    @include mq(dt, true) {
        font-size: 18px;
        line-height: 22px;
        padding: 20px 46px;
    }
}
