.news-banner {
  position: relative;
}
.news-banner__img {
  width: 100%;
  height: 170px;
  @include mq(tb, true) {
    height: 266px;
  }
  @include mq(dt, true) {
    height: 500px;
  }
}

.news-banner__title {
  @include font-face("Russo One", "../fonts/Z9XUDmZRWg6M1LvRYsHOy8mJvLuL9BLT");
  position: absolute;
  top: 58px;
  left: 16px;
  z-index: 1;
  color: clr(white);
  width: 190px;
  font-family: Russo One;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  @supports (-webkit-text-stroke: 4px white) {
    color: transparent;
    -webkit-text-stroke: 2px white;
  }

  @include mq(tb, tb) {
    top: 118px;
    left: 23px;
    width: 466px;
    font-size: 24px;
    line-height: 29px;
    text-transform: lowercase;
  }
  @include mq(dt, dt) {
    top: 140px;
    left: 40px;
    width: 525px;
    font-size: 61px;
    line-height: 74px;
    text-transform: lowercase;
    color: clr(white);
  }

  & > span {
    display: none;
    color: clr(white);
    font-family: Russo One;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    @supports (-webkit-text-stroke: 4px white) {
      color: transparent;
      -webkit-text-stroke: 2px white;
    }

    @include mq(tb, tb) {
      display: inline-block;
      padding-right: 8px;
      text-transform: capitalize;
      font-size: 24px;
      line-height: 29px;
    }
    @include mq(dt, dt) {
      font-size: 61px;
      line-height: 74px;
      color: clr(white);
    }
  }

}