.news-banner {
  position: relative;
}

.news-banner__img {
  width: 100%;
  height: 170px;

  @include mq(tb, true) {
    height: 266px;
  }
  @include mq(tbLG, true) {
    height: 398px;
  }
  @include mq(dt, true) {
    height: 500px;
  }
}

.news-banner__container {
  position: relative;
}

.news-banner__title {
  position: absolute;
  top: 58px;
  left: 36px;
  z-index: 1;
  width: 190px;
  font-family: $primaryFont, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px clr(white);

  @include mq(tb, tb) {
    top: 118px;
    left: 23px;
    width: 466px;
    font-size: 24px;
    line-height: 29px;
    text-transform: lowercase;
  }
  @include mq(tbLG, tbLG) {
    top: 177px;
    left: 32px;
    width: 549px;
    font-size: 36px;
    line-height: 43px;
  }

  @include mq(dt, dt) {
    top: 140px;
    left: 40px;
    width: 525px;
    font-size: 61px;
    line-height: 74px;
    color: clr(white);
  }
}

.news-banner__title-span {
  display: none;
  color: clr(white);
  font-family: $primaryFont, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  @supports (-webkit-text-stroke: 4px white) {
    color: transparent;
    -webkit-text-stroke: 2px white;
  }

  @include mq(tb, tb) {
    display: inline-block;
    padding-right: 8px;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 29px;
  }
  @include mq(tbLG, tbLG) {
    display: inline-block;
    padding-right: 8px;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 43px;
  }
  @include mq(dt, dt) {
    font-size: 61px;
    line-height: 74px;
    color: clr(white);
  }
}
.news-list__items {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.news-list__item-link {
  color: clr(black);
}

.news-list__item--enerkid {
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
}
.news-list__item--asan {
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
}
.news-list__item {
  position: relative;
  align-self: start;
  width: 100%;

  margin-bottom: 16px;
  background-color: clr(purple40);
  color: #000000;

  @media (min-width: 576px) {
    width: 47%;
    &:nth-child(n + 7) {
      display: none;
    }
  }

  @include mq(tb, tb) {
    width: 310px;
    margin-bottom: 24px;
    height: 450px;
  }
  @include mq(tbLG, tbLG) {
    width: 30%;
    margin-bottom: 32px;
    display: block;
    &:nth-child(n + 7) {
      display: none;
    }
  }
  @include mq(dt, dt) {
    width: 384px;
    height: 500px;
    margin-bottom: 40px;
  }
}

.news-list__item-img {
  width: 100%;
  @include mq(tb, tb) {
    width: 310px;
    height: 218px;
  }
  @include mq(tbLG, tbLG) {
    width: 100%;
  }
}

.news-list__item-title {
  margin: 12px 8px 12px;
  font-family: $primaryFont, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  @include mq(tb, tb) {
    margin: 24px 39px 12px 16px;
    font-size: 17px;
    line-height: 20px;
  }
  @include mq(dt, dt) {
    font-size: 20px;
    line-height: 24px;
  }
}

.news-list__item-title--app,
.news-list__item-title--asan {
  margin: 12px 8px 30px;
}

.news-list__item-desc {
  display: none;
  @include mq(tb, tb) {
    display: block;
    width: 278px;
    height: 80px;
    overflow: hidden;
    margin: 0px 16px 24px 16px;
    font-family: $secondaryFont, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  @include mq(tbLG, tbLG) {
    width: 232px;
    height: 72px;
    margin: 0px 8px 24px 16px;
    font-size: 15px;
    line-height: 18.29px;
  }
  @include mq(dt, dt) {
    width: 352px;
    height: 60px;
    margin: 0px 16px 24px 16px;
    font-size: 16px;
    line-height: 19.5px;
  }
}

.news-list__item-info {
  display: flex;
  margin: 0px 0px 12px 12px;
  justify-content: space-between;
  align-items: center;
  @include mq(tb, tb) {
    margin: 0px 0px 30px 15px;
  }
  @include mq(tbLG, tbLG) {
    margin: 0px 0px 34px 16px;
  }
  @include mq(dt, dt) {
    margin: 0px 0px 37px 24px;
  }
}

.news-list__item-info-date {
  font-size: 12px;
  font-family: $secondaryFont, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  width: 23px;

  @include mq(tb, tb) {
    position: absolute;
    left: 16px;
    bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    width: 93px;
  }
}

.more-btn--news {
  @include mq(tb, tb) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.secondary-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn--loadmore-news {
  width: 327px;
  height: 58px;
  font-size: 13px;
  line-height: 15.67px;
  text-decoration: none;
  margin-bottom: 32px;

  @include mq(tbLG, tbLG) {
    width: 277px;
    height: 70px;
    font-size: 18px;
    line-height: 21.69px;
    margin-bottom: 80px;
  }
}

.about-us__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  margin-bottom: 32px;

  @include mq(tb, tb) {
    height: 48px;
    margin-bottom: 92px;
  }
  @include mq(tbLG, tbLG) {
    height: 56px;
    margin-bottom: 114px;
  }
  @include mq(dt, dt) {
    height: 70px;
    margin-bottom: 50px;
  }
}

.about-us__title {
  font-family: $primaryFont, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 12px;
  color: clr(purple);
  opacity: 0.6;

  @include mq(tb, tb) {
    font-size: 16px;
    line-height: 19.28px;
  }
  @include mq(tbLG, tbLG) {
    font-size: 32px;
    line-height: 38.56px;
  }
}

.square-btn {
  width: 40px;
  height: 40px;

  @include mq(tb, tb) {
    width: 48px;
    height: 48px;
  }
  @include mq(tbLG, tbLG) {
    display: block;
    width: 56px;
    height: 56px;
  }
  @include mq(dt, dt) {
    width: 56px;
    height: 56px;
  }
}
