.footer__container {
  padding: 24px 12px 16px 12px;
  display: flex;
  max-width: 375px;
  position: relative;
  margin-bottom: 12px;
}

.footer__container::after {
  content: " ";
  display: block;
  width: calc(100% - 24px);
  height: 1px;
  background-color: #ffa6c4;
  position: absolute;
  bottom: 0px;
  left: 12px;
}

.footer__titles {
  display: flex;
  flex-direction: column;
  @include text(15px, 400, $primaryFont);
  line-height: 18px;
}

.footer-titles__item {
  padding-bottom: 16px;
  &:last-child {
    padding-bottom: 18px;
    padding-top: 36px;
  }
}

.footer__information {
  display: flex;
  flex-direction: column;
  @include text(15px, 300, $secondaryFont);
  line-height: 18px;
  color: #5c3668;
  padding: 0 58px 0 38px;
}

.footer-information__item {
  padding-bottom: 16px;
  &:last-child {
    padding-bottom: 0;
  }
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer-buttons__item {
  padding-top: 16px;
  &:first-child {
    padding-top: 0;
  }
}

.footer__location {
  @include text(9px, 300, $secondaryFont);
  padding: 0 0 12px 12px;
  position: relative;
}
